kubeconfig_path = "../../_out/kubeconfig"

cluster_vip              = "192.168.80.10"
gateway_load_balancer_ip = "192.168.80.30"
pihole_primary_ip        = "192.168.80.31"
pihole_secondary_ip      = "192.168.80.32"
forgejo_ssh_ip           = "192.168.80.33"

bootstrap_repo_url  = "https://github.com/j4v3l/proxmox-talos-lab.git"
bootstrap_revision  = "main"
apps_repo_url       = "https://git.lab.home.arpa/j4v3l/talos-apps.git"
apps_revision       = "main"
lab_base_domain     = "lab.home.arpa"
